.idea
a.out
cmake-build-debug
CMakeLists.txt
main.c

week9/Lab 09 input.txt

week9/lab9_dec.txt

week9/lab9_inc.txt

week9/stat.txt

week10/_ex1_1.txt

week10/_ex1_2.txt

week10/_ex1.txt

week10/_ex3.txt

week10/tmp/file1

week10/tmp/file2

week10/tmp/link1
